#### Object orinented Programming
- class
- object
- constructors
- inheritance
##### packages and modules in oop

In [12]:
#syntax:- class class_name:
class Hi:
    a=15
    b=20
    def display():
        print("Hi i am from class Hi")

In [13]:
print(type(Hi.a))

<class 'int'>

In [11]:
#object
#it is an instance of a class
#instead of using class name we can use object

In [14]:
#syntax: obj_name=class_name
obj=Hi

In [15]:
obj.a

15

In [16]:
obj.display()

Hi i am from class Hi

In [17]:
class Math:
    def add(num1,num2):
        return (num1+num2)
    def mul(num1,num2):
        return (num1*num2)

In [21]:
mt=Math
mt1=Math

In [22]:
mt1.add(4,5)

9

In [20]:
mt.mul(5,6)

30

In [ ]:
#constructor
syntax:class class_name:
        def __init__(self,para1,para2..):
            self.para1=para1
            self.para2=para2..

In [31]:
class Math1:
    def __init__(self,val1,val2):
        self.val1=val1
        self.val2=val2
    def add(self,val3):
        return self.val1+self.val2+val3
    def mul(self):
        return self.val1*self.val2
    def square(self):
        print(self.val1**2,self.val2**2)

In [32]:
obj=Math1(9,8)

In [34]:
obj.add(5)

22

In [27]:
obj.mul()

72

In [28]:
obj.square()

81 64

In [43]:
class cal:
    def __init__(abc,a1,a2):
        abc.a1=a1
        abc.a2=a2
    def add(abc):
        print(abc.a1+abc.a2)

In [44]:
obj=cal("k","h")

In [45]:
obj.add()

kh

In [49]:
obj1=Hi

In [50]:
obj1.a

15

In [51]:
Hi.a

15

In [52]:
#inheritance
#inserting parent class in child class
class classA:
    c=10
    d=30
    def display():
        print("i am from class A")
class classB(classA):
    e=100
    n="Nani"
    def show():
        print("i am from class b")

In [53]:
obj2=classA

In [54]:
obj2.c

10

In [55]:
obj2.d

30

In [56]:
obj2.display()

i am from class A

In [58]:
obj3=classB

In [59]:
obj3.e

100

In [60]:
obj3.c

10

In [61]:
obj3.display()

i am from class A

In [62]:
obj3.show()

i am from class b

In [ ]:
#packages and modules in oop
-package(folder): collection of modules
-modules(.py files):contains classes and functions
- for accesessing modules use import keyword
differnt ways
    -

In [67]:
from Mymodule import clasi
clasi.add(4,5)

9

In [77]:
import Mymodule
iseven(2)

In [76]:
def bird():
       print("I am a bird") 

bird()

I am a bird