- tuple
- set
- dictionary

In [ ]:
#tuple
#it is a camma seperated data with in paranthesis
#immutable
#we can get  tuple elements by indexing but we can't chenge it

In [6]:
#creating a tuple
t1=()
t2=tuple()
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [7]:
t2=(12,10.0,"Nani",67)

In [8]:
t2[0]

12

In [9]:
t2[3]

67

In [10]:
len(t2)

4

In [13]:
sum((1,2,4,6.0))

13.0

In [16]:
t2.count(10.0)

1

In [17]:
t2.index("Nani")

2

In [ ]:
#set 
#it is a camma seperated data with in curly brace
#immutable
#we can't get values by indexing
#it is an unordered data
#it will take only unique elements

In [20]:
#create a set
s1={12,454,78,9,10,"hari","apple",12.0,9.5}
print(l2)
s2=set(l2)
print(type(s1))
print(type(s2))

[1, 2, 1, 2, 15, 16, 1, 5, 3, 2, 5]
<class 'set'>
<class 'set'>

In [23]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [40]:
s2={1,2,3,4,5,6,12,13,14,15}
s3={2,3,4,7,16,12,13,14,17,19}

In [26]:
s2.add("lamda")
print(s2)

{1, 2, 3, 4, 5, 6, 12, 13, 14, 15, 'lamda'}

In [27]:
s4=s2.copy()
print(s4)

{1, 2, 3, 4, 5, 6, 12, 13, 14, 15, 'lamda'}

In [29]:
s4.clear()
s4

set()

In [32]:
print(s3)
print(s2)
s2.difference(s3) #different values in s2,when compared with s3

{2, 3, 4, 7, 12, 13, 14, 16, 17, 19}
{1, 2, 3, 4, 5, 6, 12, 13, 14, 15, 'lamda'}

{1, 15, 5, 6, 'lamda'}

In [33]:
s2.difference_update(s3)
print(s2)

{1, 5, 6, 15, 'lamda'}

In [34]:
s2.discard('lamda')
s2

{1, 5, 6, 15}

In [42]:
s2={1,2,3,4,5,6,12,13,14,15}
s3={2,3,4,7,16,12,13,14,17,19}
s3.intersection(s2)

{2, 3, 4, 12, 13, 14}

In [43]:
s3.intersection_update(s2)
print(s3)

{2, 3, 4, 12, 13, 14}

In [65]:
print(s2)
print(s3)
s3.isdisjoint(s2)

{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}
{2, 3, 4, 7, 12, 13, 14, 16, 17, 19}

False

In [47]:
print(s2)
print(s3)
s3.issubset(s2)

{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}
{2, 3, 4, 12, 13, 14}

True

In [48]:
s3.issuperset(s2)

False

In [49]:
print(s2)
s2.pop()

{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}

1

In [51]:
s2.remove(15)

In [52]:
s2

{2, 3, 4, 5, 6, 12, 13, 14}

In [58]:
s2={1,2,3,4,5,6,12,13,14,15}
s3={2,3,4,7,16,12,13,14,17,19}
s3.symmetric_difference(s2)

{1, 5, 6, 7, 15, 16, 17, 19}

In [56]:
s2.symmetric_difference_update(s3)

In [57]:
s2

{1, 5, 6, 7, 15, 16, 17, 19}

In [59]:
print(s2)
print(s3)
s2.union(s3)

{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}
{2, 3, 4, 7, 12, 13, 14, 16, 17, 19}

{1, 2, 3, 4, 5, 6, 7, 12, 13, 14, 15, 16, 17, 19}

In [64]:
print(s1)
print(s2)
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 454, 6, 9, 10, 9.5, 12, 13, 78, 14, 15, 'apple', 'hari'}
{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}
{1, 2, 3, 4, 5, 454, 6, 9, 10, 9.5, 12, 13, 78, 14, 15, 'apple', 'hari'}
{1, 2, 3, 4, 5, 6, 12, 13, 14, 15}

In [3]:
#average
l1=[12,15,16,14,17,19]
avg=sum(l1)/len(l1)
avg

15.5

In [4]:
#removal of duplicates in list
l2=[1,2,1,2,15,16,1,5,3,2,5]
ul=[]
for i in l2:
    if i not in ul:
        ul.append(i)
ul

[1, 2, 15, 16, 5, 3]