### comprehension:

* comprehension is nothing but inclusive(within self)
* In python we use these comprehension to simplifies the code and reduce the programming lines

### Types of Comprehensions

* List Comprehension
* Dictionary Comprehension
* Set Comprehension

### List Comprehension

* If we write our code within a list to print the output in list format

In [8]:
#Adding each character of a string to a list without comprehension

s=[]
for i in "hello":
    s.append(i) 
s

['h', 'e', 'l', 'l', 'o']

In [5]:
# display numbers 1 to 10 in list format by using for loop

l=[1,2,3,4,5,6,7,8,9,10]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
l1=[]

for i in range(1,11):
    l1.append(i)
    
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List Comprehension

* syntax: [output-variable loop conditions]
* At the begining output variable should be defined

In [7]:
## display numbers 1 to 10 in list format 

[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
## print each character of a string using list comprehension

[i for i in "python"]

['p', 'y', 't', 'h', 'o', 'n']

In [11]:
#print even numbers from a given list in list format

even=[]

for i in range(1,51):
    if i%2==0:
        even.append(i)
        
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [12]:
#by using List Comprehension

even=[i for i in range(1,51) if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [13]:
#print odd numbers in the range of 1,100 in list format

odd=[i for i in range(1,101) if i%2!=0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [14]:
#print all numbers in the given range 1 to 100

num=[i for i in range(1,101)]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [16]:
#print even numbers in a list  and
# replace all odd numbers with "odd"

#o/p :['odd',2,'odd',4,......]

l=[]
for i in range(1,51):
    if i%2==0:
        l.append(i)
    else:
        l.append("odd")
print(l)

['odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14, 'odd', 16, 'odd', 18, 'odd', 20, 'odd', 22, 'odd', 24, 'odd', 26, 'odd', 28, 'odd', 30, 'odd', 32, 'odd', 34, 'odd', 36, 'odd', 38, 'odd', 40, 'odd', 42, 'odd', 44, 'odd', 46, 'odd', 48, 'odd', 50]

In [40]:
l=[i if i%2==0 else "odd number" for i in range(1,51)]
print(l)

['odd number', 2, 'odd number', 4, 'odd number', 6, 'odd number', 8, 'odd number', 10, 'odd number', 12, 'odd number', 14, 'odd number', 16, 'odd number', 18, 'odd number', 20, 'odd number', 22, 'odd number', 24, 'odd number', 26, 'odd number', 28, 'odd number', 30, 'odd number', 32, 'odd number', 34, 'odd number', 36, 'odd number', 38, 'odd number', 40, 'odd number', 42, 'odd number', 44, 'odd number', 46, 'odd number', 48, 'odd number', 50]

In [18]:
l=[i for i in range(1,51) if i%2==0 else "odd"]
print(l)

SyntaxError: invalid syntax (<ipython-input-18-8ba91625dc59>, line 1)

In [21]:
#a=["hello world","i am good"]
#seperate each word with comma and print output in list format
#o/p: ['hello','world','i','am','good']
res=[]
a=["hello world","i am good"]
for i in a:
    for j in i.split():
        res.append(j)
        
print(res)

['hello', 'world', 'i', 'am', 'good']

In [22]:
s="hello world"
s.split()

['hello', 'world']

In [23]:
a=["hello world","i am good"]
res=[j for i in a for j in i.split()]
print(res)

['hello', 'world', 'i', 'am', 'good']

### Dictionary Comprehension


* If we write ourcode inside a dictionary and the output is printed in the format of dictionary , then it is dictionary comprehension

In [24]:
#{1:1,2:4,3:9,4:16,5:25} square of given numbers

d={x:x*x for x in range(1,6)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [25]:
d={x:x*x for x in [1,2,3,4,5]}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [26]:
d=dict()
for i in range(1,6):
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [35]:
n=[10,20,30]
l=['l','k','h']
z=zip(n,l)
print(z)
list(z)

<zip object at 0x0000000004E63F48>

[(10, 'l'), (20, 'k'), (30, 'h')]

In [28]:
state=["A.P","Telangana","Tamilnadu"]
capital=["Amaravathi","Hyderabad","Chennai"]
d={}
for (key,value) in zip(state,capital):
    d[key]=value
print(d)

{'A.P': 'Amaravathi', 'Telangana': 'Hyderabad', 'Tamilnadu': 'Chennai'}

In [29]:
state=["A.P","Telangana","Tamilnadu"]
capital=["Amaravathi","Hyderabad","Chennai"]
d={k:v for (k,v) in zip(state,capital)}
print(d)

{'A.P': 'Amaravathi', 'Telangana': 'Hyderabad', 'Tamilnadu': 'Chennai'}

### Set comprehesion

In [31]:
l=[1,2,3,4,5,6,7,7,8,8,9]
l2=[]
s=set()
for i in l:
    if i%2!=0:
        s.add(i)
        l2.append(i)
print(s)
print(l2)

{1, 3, 5, 7, 9}
[1, 3, 5, 7, 7, 9]

In [36]:
l=[1,2,3,4,5,6,7,7,8,8,9]
s={i for i in l if i%2!=0}
print(s)

{1, 3, 5, 7, 9}

In [37]:
help(zip())

Help on zip object:

class zip(object)
 |  zip(*iterables) --> zip object
 |
 |  Return a zip object whose .__next__() method returns a tuple where
 |  the i-th element comes from the i-th iterable argument.  The .__next__()
 |  method continues until the shortest iterable in the argument sequence
 |  is exhausted and then it raises StopIteration.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [39]:
l=[1,2,3]
l1=[10,20,30]
l2=[100,200,300]
z=zip(l,l1,l2)
list(z)

[(1, 10, 100), (2, 20, 200), (3, 30, 300)]