### Dictionary and its methods

* Dictionary is a set of key, value pair or collection of items
* In dictionary key acts as a index to access values

In [2]:
# creating a empty dictionary

d=dict()

In [8]:
type(d)

dict

In [9]:
d1={}   #empty dictionary
type(d1)

dict

In [10]:
#dictionary with integer keys
d={1:"sai",2:"keerthi",3:"rama"}     # key:value  
print(d)

{1: 'sai', 2: 'keerthi', 3: 'rama'}

In [11]:
d.keys()  #to get only keys

dict_keys([1, 2, 3])

In [12]:
d.values()   #to get values

dict_values(['sai', 'keerthi', 'rama'])

In [13]:
d.items()  #to get items

dict_items([(1, 'sai'), (2, 'keerthi'), (3, 'rama')])

In [46]:
#dictionary with mixed keys
d1={'name':'bhanu','age':20,1:[1,2,3]}
print(d1)

{'name': 'bhanu', 'age': 20, 1: [1, 2, 3]}

In [47]:
#Accessing dictionary values by using keys as index

d1['age']

20

In [48]:
d1['name']

'bhanu'

In [49]:
d1[20]

KeyError: 20

In [50]:
d1[1]

[1, 2, 3]

In [51]:
d1

{'name': 'bhanu', 'age': 20, 1: [1, 2, 3]}

In [52]:
d1[1][2]

3

In [53]:
d1[0][2]

KeyError: 0

In [54]:
d1[1][0]

1

In [55]:
#print the sum of all marks 

d={'maths':90,'science':89,'social':86}   #sum = 90+89+86
s=sum(d.values())
print("sum is:", s)

sum is: 265

In [56]:
# print the average of all marks 

d={'maths':90,'science':89,'social':86}   #sum = 90+89+86
lis=d.values()
#print(lis)
summ=sum(lis)
l=len(lis)
avg=summ/l
print("average is:", avg)

average is: 88.33333333333333

In [57]:
sum(d.values())/len(d.values())  #average

88.33333333333333

In [71]:
dd={0:'python',1:'java'}
dd

{0: 'python', 1: 'java'}

In [72]:
#Changing values of dictionary

d

{'maths': 95, 'social': 86, 'english': 80}

In [73]:
d['maths']=95

In [74]:
d

{'maths': 95, 'social': 86, 'english': 80}

In [75]:
#adding values to dictionary

d['english']=80

In [76]:
d

{'maths': 95, 'social': 86, 'english': 80}

In [77]:
# length of dictionary

len(d)

3

In [80]:
#Removing elements from dictionary

#pop()

d.pop('social')

86

In [81]:
d

{'maths': 95, 'english': 80}

In [82]:
d.popitem()  #removes item in key,value pair

('english', 80)

In [83]:
d

{'maths': 95}

In [84]:
d={1:10,2:20,3:30,4:40,5:50}
d.popitem()

(5, 50)

In [85]:
d.popitem()

(4, 40)

In [86]:
#del , to remove individual element or dictionary itself

a={1:10,2:20,3:30,4:40,5:50}
a

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [87]:
del a[3]

In [88]:
a

{1: 10, 2: 20, 4: 40, 5: 50}

In [89]:
del a #removing entire dictionary

In [90]:
a

NameError: name 'a' is not defined

In [94]:
# clear , to clear dictionary

b={2:20,3:30}
print(b)

{2: 20, 3: 30}

In [95]:
b.clear()
b

{}

In [96]:
b[5]=50

In [97]:
b

{5: 50}

In [98]:
dir(b)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [99]:
# Copying values from one dictionary to another

d1={1:20,2:20,3:30}
d2={4:90,5:89,6:87}

d1=d2.copy()   #copying d2 into d1

d1

{4: 90, 5: 89, 6: 87}

In [100]:
d2

{4: 90, 5: 89, 6: 87}

In [101]:
# updating values by using key as index

d2[4]="lokesh"
d2

{4: 'lokesh', 5: 89, 6: 87}

In [103]:
#update()

d2.update({5:"sairam"})

In [104]:
d2

{4: 'lokesh', 5: 'sairam', 6: 87}

In [105]:
#get   --> to get the value of given key

d2.get(4)

'lokesh'

In [106]:
help(d2.get)

Help on built-in function get:

get(key, default=None, /) method of builtins.dict instance
    Return the value for key if key is in the dictionary, else default.

In [107]:
d2.get(5)

'sairam'

In [108]:
#Sorted

d2

{4: 'lokesh', 5: 'sairam', 6: 87}

In [109]:
d2[1]="hema"

In [110]:
d2

{4: 'lokesh', 5: 'sairam', 6: 87, 1: 'hema'}

In [111]:
sorted(d2) #depends on keys

[1, 4, 5, 6]

In [112]:
d2

{4: 'lokesh', 5: 'sairam', 6: 87, 1: 'hema'}

In [113]:
sorted(d2,reverse=True) #descending order

[6, 5, 4, 1]

In [114]:
# dictionary membership  --> in 

d2

{4: 'lokesh', 5: 'sairam', 6: 87, 1: 'hema'}

In [115]:
print(4 in d2)  #testing keys present or not

True

In [117]:
print("lokesh" in d2)

False

In [121]:
# Iterating through a dictionary

for k in d2.keys():    #retrieving keys
    print(k,end=" ")

4 5 6 1

In [122]:
for v in d2.values():
    print(v,end=" ")

lokesh sairam 87 hema

In [123]:
for k,v in d.items():
    #printing both key,value
    print(k,':',v,',',end=" ")

1 : 10 , 2 : 20 , 3 : 30 ,

In [127]:
for k in d2:
    print(k, end=" ")    #keys

4 5 6 1

In [128]:
for k in d2:
    print(d2[k], end=" ")  #values

lokesh sairam 87 hema

In [129]:
#fromkeys()

x=(1,2,3)
y=(100)

dd=dict.fromkeys(x,y)
dd

{1: 100, 2: 100, 3: 100}

In [130]:
#setdefault --> returns value if key is present, 
# otherwise returns none or default value


d1={1:'k',2:'h',3:'l'}
p=d1.setdefault(1)  #if key is in dictionary
print("default",p)
print(d1)

default k
{1: 'k', 2: 'h', 3: 'l'}

In [132]:
p1=d1.setdefault(4)  #if key is not present

print(p1)
print(d1)

None
{1: 'k', 2: 'h', 3: 'l', 4: None}

In [133]:
p2=d1.setdefault(5,'yy')
print(p2)
print(d1)

yy
{1: 'k', 2: 'h', 3: 'l', 4: None, 5: 'yy'}